<% include ./partials/header.ejs %>
    <div class="tabbable col-xs-12 col-lg-6 col-lg-offset-3">
        <ul class="nav nav-tabs nav-pills" id="myTab">
            <li class=" active dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <%for(var i=0; i<locations.length; i++){%>
                        <%if(i == 0){%>
                        <li class="active">
                            <a id="eLoco<%=locations[i].id%>" class="eLoco" href="#tab1" data-toggle="tab"><%=locations[i].name%></a>
                        </li>
                        <%}else{%>
                        <li class="">
                            <a id="eLoco<%=locations[i].id%>" class="eLoco" href="#tab1" data-toggle="tab"><%=locations[i].name%></a>
                        </li>
                        <%}%>
                    <%}%>
                </ul>
            </li>
            <li class=""><a href="#tab2" data-toggle="tab">Locations</a></li>
            <li class=""><a href="#tab3" data-toggle="tab">Characters</a></li>
            <li class=""><a href="#tab4" data-toggle="tab">Weapons</a></li>
            <li class=""><a href="#tab5" data-toggle="tab">Items</a></li>
            <li class=""><a href="#tab6" data-toggle="tab">Guilds</a></li>
            <li class=""><a href="#tab7" data-toggle="tab">Images</a></li>
        </ul>
        <br><!-- nav-pills end -->
        <div class="tab-content">
            <!--Event-tab start-->
            <div class="tab-pane active" id="tab1">
                <div id="eventSuccess" class="alert alert-success"></div>
                <div id="eventError" class="alert alert-danger"></div>
                <h3>Events<button id="addEvent" class="margin btn btn-xs" type="button"><span class="glyphicon glyphicon-plus"></span> new</button></h3>

                <ul id="eventList" class="list-group list-unstyled">
                   <%for(var i=0; i<events.length; i++){%>
                        <li class="list-group-item">
                            <span id="event<%=events[i].id%>" class="updateEvent"><%=events[i].name%></span>
                            <button class="deleteEvent pull-right btn btn-xs margin" id="eventBtnDel<%=events[i].id%>">Delete</button>
                        </li>
                   <%}%>
                </ul>
            </div><!-- Event-tab end -->
            
            <!--Location-tab start-->
            <div class="tab-pane" id="tab2">
                <div id="locationSuccess" class="alert alert-success"></div>
                <div id="locationError" class="alert alert-danger"></div>
                <h3>Locations<button id="addLocation" class="margin btn btn-xs" type="button"><span class="glyphicon glyphicon-plus"></span> new</button></h3>
                <ul id="locationList" class="list-group list-unstyled">
                    <%for(var i=0; i<locations.length; i++){%>
                        <li class="list-group-item">
                            <span id="location<%=locations[i].id%>" class="updateLocation"><%=locations[i].name%></span>
                            <button class="deleteLocation pull-right btn btn-xs margin" id="locationBtnDel<%=locations[i].id%>">Delete</button>
                        </li>
                    <%}%>
                </ul>
            </div><!--Location-tab end-->

            <!--Character-tab start-->
            <div class="tab-pane" id="tab3">
                <div id="characterSuccess" class="alert alert-success"></div>
                <div id="characterError" class="alert alert-danger"></div>
                <h3>Characters<button id="addCharacter" class="margin btn btn-xs" type="button"><span class="glyphicon glyphicon-plus"></span> new</button></h3>
                <ul id="charactersList" class="list-group list-unstyled">
                    <%for(var i=0; i<characters.length; i++){%>
                        <li class="list-group-item">
                            <span id="character<%=characters[i].id%>" class="updateCharacter"><%=characters[i].name%></span>
                            <button class="deleteCharacter pull-right btn btn-xs margin" id="characterBtnDel<%=characters[i].id%>">Delete</button>
                        </li>
                    <%}%>
                </ul>
            </div><!--Character-tab end-->

            <!--Weapon-tab start-->
            <div class="tab-pane" id="tab4">
                <div id="weaponSuccess" class="alert alert-success"></div>
                <div id="weaponError" class="alert alert-danger"></div>
                <h3>Weapons<button id="addWeapon" class="margin btn btn-xs" type="button"><span class="glyphicon glyphicon-plus"></span> new</button></h3>
                <ul id="weaponList" class="list-group list-unstyled">
                    <%for(var i=0; i<weapons.length; i++){%>
                        <li class="list-group-item">
                            <span id="weapon<%=weapons[i].id%>" class="updateWeapon"><%=weapons[i].name%></span>
                            <button class="deleteWeapon pull-right btn btn-xs margin" id="weaponBtnDel<%=weapons[i].id%>">Delete</button>
                        </li>
                    <%}%>
                </ul>
            </div><!--Weapon-tab end-->

            <!--Item-tab start-->
            <div class="tab-pane" id="tab5">
                <div id="itemSuccess" class="alert alert-success"></div>
                <div id="itemError" class="alert alert-danger"></div>
                <h3>Items<button id="addItem" class="margin btn btn-xs" type="button"><span class="glyphicon glyphicon-plus"></span> new</button></h3>
                <ul id="itemList" class="list-group list-unstyled">
                    <%for(var i=0; i<items.length; i++){%>
                        <li class="list-group-item">
                            <span id="item<%=items[i].id%>" class="updateItem"><%=items[i].name%></span>
                            <button class="deleteItem pull-right btn btn-xs margin" id="itemBtnDel<%=items[i].id%>">Delete</button>
                        </li>
                    <%}%>
                </ul>
            </div><!--Item-tab end-->

            <!--Guild-tab start-->
            <div class="tab-pane" id="tab6">
                <div id="guildSuccess" class="alert alert-success"></div>
                <div id="guildError" class="alert alert-danger"></div>
                <h3>Guilds<button id="addGuild" class="margin btn btn-xs" type="button"><span class="glyphicon glyphicon-plus"></span> new</button></h3>

                <ul id="guildList" class="list-group list-unstyled">
                    <%for(var i=0; i<guilds.length; i++){%>
                        <li class="list-group-item">
                            <span id="guild<%=guilds[i].id%>" class="updateGuild"><%=guilds[i].name%></span>
                            <button class="deleteGuild pull-right btn btn-xs margin" id="guildBtnDel<%=guilds[i].id%>">Delete</button>
                        </li>
                    <%}%>
                </ul>
            </div><!--Guild-tab end-->

        </div><!-- tab-content end-->
    </div><!-- tabable end -->

    <!-- modal window for create-event-form -->
        <% include ./partials/eventsForm.ejs %>
    <!-- event-modal-end -->

    <!-- modal window for create-location-form -->
        <% include ./partials/locationForm.ejs %>
    <!-- location-modal-end -->

    <!-- modal window for create-weapon-form -->
        <% include ./partials/weaponForm.ejs %>
    <!-- weapon-modal-end -->
    
    <!-- modal window for create-character-form -->
        <% include ./partials/characterForm.ejs %>
    <!-- character-modal-end -->
    
    <!-- modal window for create-item-form -->
        <% include ./partials/itemsForm.ejs %>
    <!-- item-modal-end -->

    <!-- modal window for create-guild-form -->
        <% include ./partials/guildForm.ejs %>
    <!-- guild-modal-end -->
        
    <!-- modal window for displaying a record -->
    <div class="modal fade" id="displayRecord" tabindex="-1" role="dialog" aria-labelledby="displayRecord" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="displayTitle"></h4>
            </div>
            <div id="displayBody" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
      </div>
    </div>
    <!-- record-display end -->

</div><!-- wrapper end-->
<script>  <!--
    var weapons = <%-JSON.stringify(weapons)%>;
    var characters = <%-JSON.stringify(characters)%>;
    var items = <%-JSON.stringify(items)%>;
    var attributes = <%-JSON.stringify(attributes)%>;
    var locations = <%-JSON.stringify(locations)%>;
    var flags = <%-JSON.stringify(flags)%>;
    var events = <%-JSON.stringify(events)%>;
    var images = <%-JSON.stringify(images)%>;
    var guilds = <%-JSON.stringify(guilds)%>;
-->
    
    
</script>
<script src="helpers.js"></script>
<script src="general.js"></script>
<script src="./cruds/crud.js"></script>
<script src="./cruds/events.js"></script>
</body>
</html>