<!-- partial for create-events-form - branch types -->
<div class="form-group">
    <label>Branch-type</label>
    <div class="col-xs-11 col-xs-offset-1">
        <label class="radio-inline">
            <input type="radio" name="branchType" value="dice" checked> roll dices
        </label>
        <label class="radio-inline">
          <input type="radio" name="branchType" value="choices"> give choices
        </label>
        <label class="radio-inline">
            <input type="radio" name="branchType" value="continue"> continue
        </label>
        <label class="radio-inline">
          <input type="radio" name="branchType" value="end"> end of game
        </label>
    </div>
</div> <!-- branch-type end -->
    <!-- dice-fold-out -->
    <div id="diceFold" class=" row form-group">
        <div class="col-xs-10 col-xs-offset-1">

            <div class="row">
                <div class="form-group col-xs-9">
                    <label>Choose attribute</label>
                    <select class="form-control" name="diceAttr">
                    <%for( var i=0; i<attributes.length; i++){%>
                        <option value="<%=attributes[i]%>"><%=attributes[i]%></option>
                    <%}%>
                </select>
                </div>
                <div class="form-group col-xs-3 pull-right">
                    <label>Difficulty</label>
                    <div class="input-group spinner">
                        <input type="number" class="form-control" name="difficulty" value="0">
                        <div class="input-group-btn-vertical">
                          <button class="btn btn-default"><i class="fa fa-caret-up"></i></button>
                          <button class="btn btn-default"><i class="fa fa-caret-down"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" id="diceSuccess">
                <label>Trigger when won</label>
                <div class="form-group col-xs-12">
                    <label class="radio-inline">
                    <input type="radio" name="success" value="succLoco" checked> new location
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="success" value="succEventSgl"> single event
                    </label>
<!--
                    <label class="radio-inline">
                      <input type="radio" name="success" value="succEventRand"> random events
                    </label>
-->
                </div>
                <div id="succTriggerFold">
                    <label>Choose event/location</label>
                    <select class="form-control" name="succTrigger">
                        <%for( var i=0; i<locations.length; i++){%>
                            <option value="<%=locations[i].id%>"><%=locations[i].name%></option>
                        <%}%>
                    </select>
                </div> 
            </div> <!-- dice success end -->
            <div class="form-group" id="diceFailure">
                <label>Trigger when lost</label>
                <div class="form-group col-xs-12">
                    <label class="radio-inline">
                    <input type="radio" name="failure" value="failLoco" checked> new location
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="failure" value="failEventSgl"> single event
                    </label>
<!--
                    <label class="radio-inline">
                      <input type="radio" name="failure" value="failEventRand"> random events
                    </label>
-->
                </div>

                <div id="failTriggerFold">
                    <label>Choose event/location</label>
                    <select class="form-control" name="failTrigger">
                        <%for( var i=0; i<locations.length; i++){%>
                            <option value="<%=locations[i].id%>"><%=locations[i].name%></option>
                        <%}%>
                    </select>
                </div> 
            </div> <!-- dice-failure end -->
        </div>    
    </div><!-- dice-fold-out end -->
    <!-- continue-fold-out -->
    <div id="continueFold" class="row form-group">
        <div class="col-xs-11 col-xs-offset-1" >
            <div class="form-group">
                <label class="radio-inline">
                    <input type="radio" name="continue" value="continueLoco" checked> to location
                </label>
                <label class="radio-inline">
                    <input type="radio" name="continue" value="continueEvent"> to event
                </label>
                <label class="radio-inline">
                    <input type="radio" name="continue" value="continueRand"> random event
                </label>
            </div>
            <div id="continSelectFold" class="form-group">
                <label>Choose event/location</label>
                <select class="form-control" name="continueTo">
                    <%for( var i=0; i<locations.length; i++){%>
                            <option value="<%=locations[i].id%>"><%=locations[i].name%></option>
                        <%}%>
                </select>
            </div>
        </div>                            
    </div> <!-- continue-fold-out end --> 

    <!-- choices-fold-out -->
    <div id="choicesFold" class="row form-group">
        <div id="choice" class="col-xs-11 col-xs-offset-1" >
<!--
            <div class="form-group col-xs-12">
                <label class="radio-inline">
                    <input type="radio" name="choices" value="choiceRand" checked> pick random choices
                </label>
                <label class="radio-inline">
                    <input type="radio" name="choices" value="choiceCustom"> pick custom choices
                </label>   
            </div>
            <div id="choiceRandFold" class="col-xs-3">
                <label>Amount</label>
                <div class="input-group spinner">
                    <input type="number" min="1" max="7" class="form-control" name="choiceNumb" value="0">
                    <div class="input-group-btn-vertical">
                      <button class="btn btn-default"><i class="fa fa-caret-up"></i></button>
                      <button class="btn btn-default"><i class="fa fa-caret-down"></i></button>
                    </div>
                </div>
            </div>
-->
              
            <div id="pickChoiceFold" class="form-group row">                
                <div class="col-xs-10">                  
                    <label class="col-xs-12">Pick choice</label>
                    <select class="form-control" name="choice0">
                        <%for( var i=0; i<events.length; i++){%>
                            <option value="<%=events[i].id%>"><%=events[i].name%></option>
                        <%}%>
                    </select>
                </div>
                <div class="col-xs-1">
                    <button class="btn add-choice" type="button">+</button>
                </div>

            </div>
        </div>                            
    </div> <!-- choices-fold-out end -->         
